<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <context-param>
        <param-name>dbServer</param-name>
        <param-value>students.kiv.zcu.cz</param-value>
    </context-param>
    <context-param>
        <param-name>dbTest</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>3306</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>pia</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>pia</param-value>
    </context-param>
    <context-param>
        <param-name>dbDatabase</param-name>
        <param-value>hainj</param-value>
    </context-param>
    <listener>
        <listener-class>
            pia.Listener.Listener
        </listener-class>
    </listener>
    <filter>
        <filter-name>Coding</filter-name>
        <filter-class>pia.Filter.Coding</filter-class>
    </filter>
    <filter>
        <filter-name>Register</filter-name>
        <filter-class>pia.Filter.Register</filter-class>
    </filter>
    <filter>
        <filter-name>TransFilter</filter-name>
        <filter-class>pia.Filter.TransFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DelFilter</filter-name>
        <filter-class>pia.Filter.DeleteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DelFilter</filter-name>
        <url-pattern>/delete</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Coding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Logged</filter-name>
        <filter-class>pia.Filter.Logged</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/profile</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Register</filter-name>
        <url-pattern>/registration</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/confirm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/history</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/deletetemp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/edittemp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/update</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/temp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/pdf</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/template</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/registration</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/transaction</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/edit</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logged</filter-name>
        <url-pattern>/users</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TransFilter</filter-name>
        <url-pattern>/confirm</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TransFilter</filter-name>
        <url-pattern>/pdf</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TransFilter</filter-name>
        <url-pattern>/transaction</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TransFilter</filter-name>
        <url-pattern>/temp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TransFilter</filter-name>
        <url-pattern>/template</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TransFilter</filter-name>
        <url-pattern>/deletetemp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TransFilter</filter-name>
        <url-pattern>/payment</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>pia.servlet.AccHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MujServlet</servlet-name>
        <servlet-class>pia.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>pia.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>pia.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TempList</servlet-name>
        <servlet-class>pia.servlet.TemplateList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>pia.servlet.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>pia.servlet.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>pia.servlet.UserL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>pia.servlet.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>pia.servlet.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contacts</servlet-name>
        <servlet-class>pia.servlet.Contacts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction</servlet-name>
        <servlet-class>pia.servlet.TransactionServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Template</servlet-name>
        <servlet-class>pia.servlet.TemplateC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TempDelete</servlet-name>
        <servlet-class>pia.servlet.DeleteTempl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TempEdit</servlet-name>
        <servlet-class>pia.servlet.TemplateServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>pia.servlet.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>pia.servlet.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Template</servlet-name>
        <url-pattern>/template</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TempDelete</servlet-name>
        <url-pattern>/deletetemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MujServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TempEdit</servlet-name>
        <url-pattern>/edittemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Contacts</servlet-name>
        <url-pattern>/contacts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TempList</servlet-name>
        <url-pattern>/temp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>pdf</servlet-name>
        <servlet-class>pia.servlet.PdfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pdf</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>conf</servlet-name>
        <servlet-class>pia.servlet.Confirm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>conf</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>conflog</servlet-name>
        <servlet-class>pia.servlet.ConfirmLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>conflog</servlet-name>
        <url-pattern>/confirml</url-pattern>
    </servlet-mapping>

</web-app>
